<nav class="header__menu">
    <a class="header__menu__logo" data-rel="prefetch" href="{{ "" | absLangURL }}" aria-label="{{ i18n "goBackHome" }}">
        {{- partial "header/logo.html" . -}}
    </a>
    {{- partial "header/menu.html" . -}}
</nav>
<div style="font-size:0.8em; padding:10px;">
	<div style="width:45%;position:relative;float:left;">submit to <a href="mailto:bugs@errorstates.com" style="color:#d14;">bugs@errorstates.com</a></div>
	<div style="width:45%;position:relative;float:right; text-align:right;">
		<a href="https://buttondown.email/errorstates" style="color:#d14;">get emails</a>
		<!--<form action="https://buttondown.email/api/emails/embed-subscribe/errorstates" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/errorstates', 'popupwindow')" class="embeddable-buttondown-form">
				  <input type="email" name="email" id="bd-email" placeholder=" sign up for emails " style="
		">
				  <input type="hidden" value="1" name="embed" class="header-button-2">
				  <input type="submit" value="Yes" class="header-button-1">
				</form> -->
	</div>
</div>